[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
[submodule "meta-sample"]
	path = meta-sample
	url = https://github.com/shift-left-test/meta-sample.git
	branch = scarthgap
[submodule "meta-sample-test"]
	path = meta-sample-test
	url = https://github.com/shift-left-test/meta-sample-test.git
	branch = scarthgap
[submodule "meta-shift"]
	path = meta-shift
	url = https://github.com/shift-left-test/meta-shift.git
	branch = scarthgap
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 2.8
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = scarthgap
