[submodule "poky"]
	path = poky
	url = http://mod.lge.com/hub/yocto/mirror/poky.git
	branch = jethro
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = http://mod.lge.com/hub/yocto/mirror/meta-openembedded.git
	branch = jethro
[submodule "meta-qt5"]
	path = meta-qt5
	url = http://mod.lge.com/hub/yocto/mirror/meta-qt5.git
	branch = jethro
[submodule "meta-sample"]
	path = meta-sample
	url = http://mod.lge.com/hub/yocto/sample/meta-sample.git
	branch = jethro
[submodule "meta-sample-test"]
	path = meta-sample-test
	url = http://mod.lge.com/hub/yocto/sample/meta-sample-test.git
	branch = jethro
[submodule "meta-shift"]
	path = meta-shift
	url = http://mod.lge.com/hub/yocto/meta-shift.git
	branch = jethro
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = http://mod.lge.com/hub/yocto/mirror/meta-raspberrypi.git
	branch = jethro
[submodule "meta-intel"]
	path = meta-intel
	url = http://mod.lge.com/hub/yocto/mirror/meta-intel.git
	branch = jethro
